$font-color: white;
$font-color-2: #3b3cf7;
$font-color-3: black;
$top-bar-color: #406be0;
$button-color: #3b9ff7;
$active-button-color: #406be0;
$fumo-div-title-color: #6939ed;
$fumo-div-title-border-color: white;
$card-border-color: #707070;
$light-blue-div-background: #3b9ff7;
$dark-blue-div-background: #3b3cf7;
$cirno-friends-div-background-color: #39c8ed;
$footer-background-color: #406be0;
$sub-color: black;

$h1-font-size: 60px;
$h2-font-size: 95px;
$h3-font-size: 31px;
$h4-font-size: 56px;
$h5-font-size: 40px;
$p-font-size: 30px;
$nav-cell-font-size: 31px;
$button-font-size: 31px;
$small-side-text-title-font-size: 70px;
$small-side-text-paragraph-font-size: 40px;
$card-title-font-size: 70px;
$card-subtitle-font-size: 39px;
$opinion-title-size: 46px;
$opinion-paragraph-size: 35px;
$cirno-photos-title-font-size: 114px;
$partners-title-font-size: 37px;
$blockquote-font-size: 37px;
$sub-font-size: 20px;
$footer-info-title-size: 33px;
$footer-a-size: 30px;

$h2-font-weight: bold;
$h3-font-weight: 300;
$h4-font-weight: bold;
$h5-font-weight: bold;
$p-font-weight: 400;
$small-side-text-title-font-weight: 300;
$small-side-text-paragraph-font-weight: 300;
$card-title-font-weight: 400;
$card-subtitle-font-weight: 600;
$opinion-block-title-weight: 500;
$opinion-title-weight: 600;
$opinion-paragraph-weight: 300;
$cirno-photos-title-font-weight: 600;
$blockquote-font-weight: 400;
$sub-font-weight: 300;
$footer-info-title-weight: 500;

$p-line-height: 50px;
$opinion-paragraph-line-height: 33px;

$top-bar-height: 104px;
$fumo-div-decoration-height: 140px;
