.light-blue {
	background-color: $light-blue-div-background;
	padding-top: 5vw;
}

.blue {
	background-color: $dark-blue-div-background;
	padding-top: 5vw;
	padding-bottom: 5vw;
}

.light-blue-to-dark-blue {
	position: relative;
	bottom: -3px;
	width: 100%;
}

.light-blue-to-dark-blue polygon {
	fill: $dark-blue-div-background;
}
