.fumo-div {
	background: url("../img/fumo_div_background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 5rem;
	padding-bottom: 10rem;
}

.fumo-div-title {
	color: $fumo-div-title-color;
	-webkit-text-stroke: 0.1rem $fumo-div-title-border-color;
	margin-bottom: 5rem;
}

.fumo-div-button {
	font-size: 1.25rem;
}

.fumo-div-decoration {
	background: url("../img/fumo_div_decoration.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transform: translateY(-100%);
}
