.fumo-div {
	background: url("../img/fumo_patrzy.png");
	background-repeat: no-repeat;
	background-size: 105%;
	padding-top: 70px;
	padding-bottom: 280px;
}

.fumo-div-title {
	color: $fumo-div-title-color;
	border: 3px solid $fumo-div-title-border-color;
}
