.list {
	display: flex;
	width: 63.5%;
	margin: auto;
	flex-wrap: nowrap;
	gap: 10%;
}

.list-element {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.list-element-title {
	margin-bottom: 25px;
}

.list-element-img {
	display: inline-block;
	width: 90%;
	height: 220px;
	border-radius: 40px;
}
