blockquote {
	text-align: center;
	font-size: $blockquote-font-size;
	font-weight: $blockquote-font-weight;
}

.quotation-mark-bottom {
	display: inline-block;
	background-image: url("../img/quotation-mark.png");
	background-size: cover;
	opacity: 50%;
	width: 10px;
	height: 10px;
	transform: translate(-35px, 25%);
}

.quotation-mark-top {
	display: inline-block;
	background-image: url("../img/quotation-mark.png");
	background-size: cover;
	opacity: 50%;
	width: 10px;
	height: 10px;
	transform: translate(15px, -150%) scaleY(-1);
}
