@import "scss_elements/vars";
@import "scss_elements/img_with_side_text";
@import "scss_elements/fumo_div";
@import "scss_elements/list";
@import "scss_elements/colorful";
@import "scss_elements/cards";
@import "scss_elements/opinion_block";

body {
	font-family: "Lato", sans-serif;
	color: $font-color;
}

.top-bar {
	display: flex;
	width: 100%;
	height: $top-bar-height;
	background: $top-bar-color 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
	font-weight: $h2-font-weight;
}

h3 {
	color: $font-color-2;
	font-size: $h3-font-size;
	font-weight: $h3-font-weight;
}

h4 {
	font-size: $h4-font-size;
	font-weight: $h4-font-weight;
}

h5 {
	font-size: $h5-font-size;
	font-weight: $h5-font-weight;
}

p {
	font-size: $p-font-size;
	font-weight: $p-font-weight;
	line-height: $p-line-height;
}

nav {
	display: flex;
}

button {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 13px 21px 12px 23px;
	color: $font-color;
	font-size: $button-font-size;
	background: $button-color;
	border: none;
	border-radius: 28px;
}

button:hover {
	cursor: pointer;
}

button:active {
	background: $active-button-color;
}

.strongest-fairy-div {
	margin-bottom: 140px;
}

.title,
nav {
	margin: auto;
}

.nav-cell {
	font-size: $nav-cell-font-size;
	margin: 0px 65px 0px 65px;
	text-decoration: none;
	color: $font-color;
}

.cirno-strengths {
	display: block;
	margin-bottom: 300px;
}

.upperline {
	width: 70%;
}

.underline {
	width: 20%;
	border: 3px solid #ffffff;
}

.color-3-text {
	color: $font-color-3;
}

.background-underneath {
	background: url("/img/cirno_the_ice_fairy1.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
}

.rounded {
	border-radius: 43px;
}

.cirno-statistics {
	margin: 90px 127px 53px 128px;
}

.cirno-social {
	background-color: $cirno-friends-div-background-color;
}

.cirno-friends {
	margin-bottom: 162px;
}

.cirno-photos h2 {
	text-align: center;
	font-size: $cirno-photos-title-font-size;
	font-weight: $cirno-photos-title-font-weight;
}
